{% extends 'base.html' %}

{% block content %}
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">ID</th>
          <th scope="col" class="px-6 py-3">Musician Name</th>
          <th scope="col" class="px-6 py-3">Email</th>
          <th scope="col" class="px-6 py-3">Album Rating</th>
          <th scope="col" class="px-6 py-3">Instrument Type</th>
          <th scope="col" class="px-6 py-3">Album Name</th>
          <th scope="col" class="px-6 py-3">Release Date</th>
          <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for album in data %}
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            <td class="px-6 py-4">{{ album.id }}</td>
            <td class="px-6 py-4">{{ album.artist.first_name }} {{ album.artist.last_name }}</td>
            <td class="px-6 py-4">{{ album.artist.email }}</td>
            <td class="px-6 py-4">{{ album.rating }}</td>
            <td class="px-6 py-4">{{ album.artist.userprofile.instrument }}</td>
            <td class="px-6 py-4">{{ album.albumName }}</td>
            <td class="px-6 py-4">{{ album.date }}</td>

            <td class="px-6 py-4">
              <a href="{% url 'editalbum' album.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
              <a href="{% url 'delete' album.id %}" class="font-medium text-red-600 dark:text-red-500 hover:underline">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="flex justify-center items-center mt-5">
    <button class="bg-gradient-to-r from-cyan-600 to-blue-500 hover:from-cyan-600 hover:to-blue-600 text-black font-semibold px-6 py-2 rounded-md shadow-lg hover:shadow-xl transition duration-300 ease-in-out transform hover:scale-105"><a href="{% url 'addalbum' %}">Add Album</a></button>
  </div>
{% endblock %}
